
#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 10px;
    background: rgb(207, 212, 206);
  }

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.center{
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
}

body{
    font-family:'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

#title{
    font-family:  'Segoe UI', 'Helvetica Neue';
    font-size: 2.6rem;;
}
#img-div {
    background: white;
    padding: 10px;
    margin: 0;
  }

#headline {
    margin: 50px 0;
    text-align: center;
  }
#tagline{
    margin: 5px 0;
    text-align: center;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: justify;
    line-height: 1.6;
  }
  
li {
    margin: 16px 0;
  }

a{
    color:brown;
}
a:hover{
    color:rgb(42, 65, 165);
}